// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Poppins", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack:
  "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco",
  monospace !default;


/// pink
/// @type Color
$pink: #DB2A6B !default;

/// White
/// @type Color
$white: #FFFFFF !default;

/// Gray
/// @type Color
$gray: #ABABAB !default;

/// Dark
/// @type Color
$dark: #2B2D38 !default;

/// Icon bg
/// @type Color
$icon-bg: #FFFFFF40 !default;

//Breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$max-width: 1200px;
