// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
}
