.nav-bar {
width:50%;
display: flex;

  &__list{
    display:flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
    height: 100%;

  }
  &__item{
    display: flex;
    height: 100%;
  }
  &__link{
    display: flex;
    height: 100%;
    align-items: center;
  }

}
